body
{
    text-align: center;
    background: linear-gradient(#00FFFF 0%,#90CAF9 100%);
	background-repeat:no-repeat;
}

#imn{
  border-radius:40%;
  width:100px;
}


h1{
  text-shadow:2px 2px #ffffff;
  font-size:30px;
    font-family: 'Redressed', cursive;
}


p{
  font-size:28px;
  color:#6A1B9A;
  text-shadow:2px 2px #ffffff;
  font-family: 'Redressed', cursive;
    
}
h2{
  font-size:30px;
  color:#1A237E;
    font-family: 'Redressed', cursive;
}
.line{
    height: 6px;
    background-color: black;
    width:470px;
    margin:8px auto;
    font-family: 'Redressed', cursive;
}
#bio{
    padding:20px;
    font-size:20;
    text-align:center;
    font-family: 'Redressed', cursive;
}
.menu{
    list-style: none;
    position: absolute;
    font-family: 'Redressed', cursive;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}
    .links{
    float: left;
    color: brown;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.links:hover {
    background-color: fuchsia;
    font-size: 30px;  
}
#THUNK{
    width: 100
        
}
h2 {
    font-size: 20
}
#picofsayam {
    transition: transform .2s;
    border: 10px solid #AAAAAA;
    width: 500px;
    align-self: center;
    }

#picodsayam:hover {
    transform: scale(0.9);
}

#hehehpe{
    width:100px ;
    }
 iframe {
    border-radius: 25px ;
}